In [1]:
import numpy as np
import random
from shapely.geometry import Polygon,Point
import pandas as pd 
import h3
import folium

import matplotlib.pyplot as plt

In [2]:
#defining the desired polygon
poly = Polygon([(27.708160, 85.339501),
                (27.703002, 85.372067),
                (27.722503, 85.374131),
                (27.718207, 85.345394)])

In [11]:
#Defining the randomization generator

#for clients
def polygon_random_points(poly, num_points):
    min_x, min_y, max_x, max_y = poly.bounds
    
    points = []

    while len(points) < num_points:
        random_point = Point([random.uniform(min_x, max_x), random.uniform(min_y, max_y)])
        if (random_point.within(poly)):
            points.append(random_point)
    return points

points = polygon_random_points(poly,100)

latitude = []
longitude = []

# Printing the results.
for p in points:
    latitude.append(p.x)
    longitude.append(p.y)

df = pd.DataFrame()
df['Latitude'] = latitude
df['Longitude'] = longitude
df['flag'] = np.random.randint(0,2,size=(df.shape[0],1))

In [12]:
df

     Latitude  Longitude  flag
0   27.708430  85.345930     1
1   27.710369  85.369796     0
2   27.711291  85.344314     1
3   27.715295  85.350730     0
4   27.708709  85.339931     0
..        ...        ...   ...
95  27.711159  85.343312     0
96  27.716422  85.347163     1
97  27.712933  85.354281     1
98  27.707316  85.368427     1
99  27.720049  85.371918     0

[100 rows x 3 columns]

In [17]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score

In [18]:
kms_per_radian = 6371.0088
epsilon = 0.1/ kms_per_radian
clustering = DBSCAN(eps=epsilon, min_samples=2, algorithm='ball_tree', metric='haversine').fit(np.radians(df[['Latitude','Longitude']]))
cluster_labels = clustering.labels_
num_clusters = len(set(cluster_labels))
num_clusters

21

In [28]:
cluster_labels

array([-1, -1,  0,  1, -1, -1,  2, -1, -1,  3,  4,  5,  6, -1,  7,  8, -1,
       -1,  8, -1, -1, -1, -1,  9, -1,  6, -1, 10, -1, -1, 11, -1, -1,  0,
       -1, -1, 11,  1, -1, 12, -1, -1, -1, -1, 13,  4, -1, -1, -1, -1, -1,
       14, -1, -1, 15, 14, 10, -1, 16,  5, -1, 16, 15, -1, -1, 12,  0, -1,
        2, 17, -1, -1, 18, -1,  9, -1, 17, -1,  4, -1, 13, -1, 13, -1, -1,
        7, -1, -1, -1,  3, -1, -1, 19, 18, -1,  0, -1, 19, -1, -1],
      dtype=int64)

In [20]:
silhouette_score(df[['Latitude','Longitude']], cluster_labels)

-0.12021688287107102